.card {
    cursor: pointer;
    padding: 10px;
}

.card:hover {
    scale: 1.05;
    box-shadow: 0px 0px 15px #00000059;
}

.albumLabelSmall {
    color: white;
    font-size: 12px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}


.albumName {
    color: white;
    font-size: 14px;
    font-weight: 700;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}


.albumImage {
    width: 100px;
    height: 100px;
    object-fit: scale-down;
}