<div class="bg-black w-100">
    <div class="container py-5">

        <div class="row g-3 my-5">

            <div class="col-lg-4">
                <div>
                    <img class="img-fluid" style="width: 300px" src="./assets/images/logos/logo_spotify_kokonut.png"
                        alt='image'>
                </div>
                &nbsp;
                <div>
                    <img class="img-fluid" style="width: 150px" src="./assets/images/logos/logo_spotify.png"
                        alt='image'>
                </div>
            </div>

            <div class="col-lg-4">
                <p class="fs-6 fw-bolder text-white">Programado por</p>
                <p class="text-white" style="font-size: 13px;">Jose Carlos Huerta Garcia</p>
                &nbsp;
                &nbsp;
                <p class="fs-6 fw-bolder text-white">Contacto</p>
                <p class="fs-6 fw-light text-white" style="font-size: 13px;">carlosj12336@gmail.com</p>
            </div>

            <div class="col-lg-4">
                <p class="fs-6 fw-bolder text-white">Documentación</p>
                <p class="text-white" style="font-size: 13px;">https://github.com/jcarloshg/SpotifyKokonut</p>
                <p class="text-white" style="font-size: 13px;">https://support.spotify.com/us/</p>
            </div>

        </div>

    </div>
</div>