<div class="bg-black w-100">
    <div class="container py-5">

        <div class="row g-3 my-5">

            <div class="col-lg-4">
                <div>
                    <img class="img-fluid" style="width: 200px;  object-fit: scale-down;"
                        src="./assets/images/logos/logo_spotify_kokonut.png" alt='image'>
                </div>
                &nbsp;
                <div>
                    <img class="img-fluid" style="width: 110px" src="./assets/images/logos/logo_spotify.png"
                        alt='image'>
                </div>
            </div>

            <div class="col-lg-4">

                <p class="m-0 fw-bold text-white">Desarrollador</p>
                <p class="m-0 fw-lighter text-white-50">Jose Carlos Huerta Garcia</p>
                &nbsp;
                &nbsp;


                <p class="m-0 fw-bold text-white">Contacto</p>
                <p class="m-0 fw-lighter text-white-50"> 📧 carlosj12336@gmail.com</p>
                <p class="m-0 fw-lighter text-white-50"> ☎️ +52 22-1227-2775</p>
                &nbsp;
                &nbsp;

            </div>

            <div class="col-lg-4">
                <p class="m-0 fw-bold text-white">Documentación</p>
                <p>
                    <a target="_blank" class="m-0 fw-lighter text-white-50"
                        href="https://github.com/jcarloshg/SpotifyKokonut">
                        📦 https://github.com/jcarloshg/SpotifyKokonut
                    </a>
                </p>
                <p>
                    <a target="_blank" class="m-0 fw-lighter text-white-50"
                        href="https://developer.spotify.com/documentation/web-api/">
                        📦 https://developer.spotify.com/documentation/web-api/
                    </a>
                </p>
                &nbsp;
                &nbsp;
            </div>

        </div>

    </div>
</div>