<div class="container d-flex align-items-center">

    <div class="row">
        <div class="col-sm-5 d-flex align-items-center">
            <div>
                <app-title value="SpotifyKokonut"></app-title>
                <app-subtitle [value]="'Disfruta de la música de miles de artistas del todo el mundo'">
                </app-subtitle>

                <app-primary-button [label]="'Ingresa'" (click)="goLogin()"></app-primary-button>
                <app-secondary-button [label]="'Regístrate aquí'" (click)="goToSpotifySingUp()"></app-secondary-button>

            </div>
        </div>

        <div class="col-sm-7 ">
            <img class="img-fluid" style='min-width: 50%' src="./assets/images/dog_music.gif" alt='image' />
        </div>

    </div>
</div>

<app-footer></app-footer>