<div class="container d-flex align-items-center" style='min-height: 85vh'>

    <div class="row">
        <div class="col-sm-5 d-flex align-items-center">
            <div>
                <app-title value="Fallo tu conexión a internet"></app-title>
                <app-subtitle value="Verifica que estar conectado a alguna red de Internet">
                </app-subtitle>
            </div>
        </div>

        <div class="col-sm-7 ">
            <img class="img-fluid" style='min-width: 50%' src="./assets/images/not_internet.gif" alt='image' />
        </div>

    </div>
</div>