@font-face {
    font-family: "NotoSans-Regular";
    src: url("assets/fonts/Noto_Sans/NotoSans-Regular.ttf");
}

* {
    font-family: "NotoSans-Regular";
}

/* width */
::-webkit-scrollbar {
    width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 1px grey;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #292929;
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #292929;
}


.background_gradient {
    background: radial-gradient(100% 215.81% at 100% 100%, #BC1B8F 0%, #000 29.06%)
        /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */
    ;
}

.background_gradient_green {
    background: radial-gradient(100% 215.81% at 100% 100%, #1DB954 0%, #000 29.06%)
        /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */
    ;
}