@font-face {
    font-family: "NotoSans-Regular";
    src: url("assets/fonts/Noto_Sans/NotoSans-Regular.ttf");
}

* {
    font-family: "NotoSans-Regular";
}

/* width */
::-webkit-scrollbar {
    width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 1px grey;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #292929;
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #292929;
}